@model Dominio.Models.dto.PhotoDto

@{ 
    ViewBag.Title = "Photo Result";
}

<h2>@ViewBag.Title</h2>

<h4>@ViewBag.title</h4>

<img src="@ViewBag.image" alt="@ViewBag.title" />
<img src="@ViewBag.x" alt="@ViewBag.title" />